<nav class=" bg-white">
  <div class="container navbar-size">

        <a class="icono-fiat" href="">
          <img src="assets/img/icono-fiat.png" >
        </a>

        <div  id="menu">
          <ul class=" mr-auto navbar-center lato-black ">
            <li >
              <a  href="">MODELOS</a>
            </li>
            <li class="">
              <a href="">PRUEBA DE MANEJO</a>
            </li>
            <li class="">
              <a href="">COTIZAR</a>
            </li>
            <li class="">
              <a href="">PROMOCIONES</a>
            </li>
            <li class="">
              <a href="">DISTRIBUIDORES</a>
            </li>
          </ul>
        </div>
    <div class="hamburguer-icon" (click)="darClick()" type="button" data-toggle="collapse" data-target="#menu" >
      <i class="fas fa-bars fa-lg"></i>
    </div>
  </div>
</nav>
<div id="menu2" height="100%">
  <button class=" btn btn-danger btn-block"type="button" name="button">MODELOS</button>
  <button class=" btn btn-danger btn-block"type="button" name="button">PRUEBA DE MANEJO</button>
  <button class=" btn btn-danger btn-block"type="button" name="button">COTIZAR</button>
  <button class=" btn btn-danger btn-block"type="button" name="button">PROMOCIONES</button>
  <button class=" btn btn-danger btn-block"type="button" name="button">DISTRIBUIDORES</button>

</div>
