<div class="container-pago">
  <div class="text-center ">
    <h2 class="display-black-italic lineas lineas-sub titulos"><span>Forma de pago</span></h2>
  </div>
  <div class="text-center subtitulos">
    PERSONALIZA TU COTIZACIÓN
  </div>
  <div class="px-3">
    <div class="row etiqueta no-gutters">ELIGE TU TIPO DE PAGO</div>
    <div class="row no-gutters">
      <input name="pago" type="radio" id="opc4" value="contado">
      <label class="rb rb-pago" for="opc4" >CONTADO</label>

      <input checked="checked" name="pago" type="radio" id="opc5" value="credito">
      <label class="rb rb-pago" for="opc5" width="50%">CRÉDITO</label>

    </div>
  </div>
  <div class="row no-gutters">
    <div class="col-sm-6">
      <div class="etiqueta">CANTIDAD DE ENGANCHE</div>
      <input type="text" name="cantidad_enganche" placeholder="80,000.00" >
    </div>
    <div class="col-sm-6 select">
      <div class="etiqueta">PLAZO</div>
        <select name="plazo" type="text" >
            <option value="72" selected="true" >72 MESES</option>
            <option value="24" >24 MESES</option>

        </select>
    </div>
  </div>
  <div class="text-center">
    <h2 class="display-black-italic lineas lineas-sub titulos"><span>Comentarios</span></h2>
  </div>

</div>
