
<div class="text-center subtitulos">
  NOS IMPORTAN TUS COMENTARIOS
</div>

<div class="row no-gutters">
  <div class="etiqueta">¿DUDAS? ¿COMENTARIOS?</div>
    <textarea class="lato-regular"name="comentarios" rows="5" cols="80" placeholder="ESCRÍBENOS" ></textarea>
</div>

<div class="row pb-5 etiqueta no-gutters">
  <div class="col-sm-9 ">
    <input type="checkbox" id="aviso"class="mr-2"checked="checked">
    <label class="cb lato-regular" for="aviso">He leído y acepto el <u class="lato-bold">aviso de privacidad</u></label> <br> <br>
    <input type="checkbox" id="promociones"class="mr-2">
    <label class="cb lato-regular" for="promociones">No deseo recibir promociones</label>

  </div>
  <div class="col-sm-3 boton-enviar ">
    <button class="btn-outline-danger text-dark"type="submit" name="submit">ENVIAR</button>
  </div>
</div>
