    <div class="text-white text-center cotizador lato-regular">
      COTIZADOR
    </div>
    <div class=" text-center mt-2 ">
      <div class="tc1">
        <h2 class="display-bold citadino lineas lineas-citadino"><span >CITADINO, AVENTURERO, DEPORTIVO</span></h2>
      </div>
      <div class="tc2">
        <h2 class="display-bold citadino lineas lineas-citadino"><span >ELIGE EL DIAT QUE VA CONTIGO</span></h2>
      </div>
    </div>
    <div class="mt-2 text-white text-center titulo display-black-italic">
    Elige el tuyo
    </div>
    <div class="text-center">
      <img class="carro img-fluid" id="carro"src="assets/img/carro.png">
    </div>
