<div class=" text-center ">
  <h2 class="display-black-italic lineas titulos"><span>Datos personales</span></h2>
</div>
<div class="text-center subtitulos">
  ESCRIBE TUS DATOS PERSONALES
</div>

<div class="row no-gutters">
  <div class="col-sm-4">
    <div class="etiqueta">NOMBRE (S)</div>
    <input id="nombres" type="text" name="nombres" placeholder="ESCRIBE TU NOMBRE" class="">
  </div>
  <div class="col-sm-4">
    <div class="etiqueta">APELLIDO PATERNO</div>
    <input type="text" name="paterno" placeholder="ESCRIBE TU APELLIDO" >
  </div>
  <div class="col-sm-4">
    <div class="etiqueta">APELLIDO MATERNO</div>
    <input type="text" name="materno" placeholder="ESCRIBE TU APELLIDO" >
  </div>

</div>
<div class="row no-gutters">
  <div class="col-sm-4 ">
    <div class="etiqueta">EMAIL</div>
    <input type="text" name="nombres" placeholder="CORREO@EMAIL.COM.MX" >
  </div>
  <div class="col-sm-4 ">
    <div class="etiqueta">TELÉFONO</div>
    <input type="text" name="paterno" placeholder="01 . 844 . 439 . 0654" >
  </div>
</div>

<div class="px-3">
  <div class="row etiqueta no-gutters">DESEO SER CONTACTADO POR </div>
  <div class="row text-center no-gutters">

      <input name="contactar" checked="checked" type="radio" id="opc1" value="telefono">
      <label class="rb rb-contactar" for="opc1"><i class="fas fa-phone-alt mr-2"></i> <br class="icono-button">TELÉFONO</label>

      <input name="contactar" type="radio" id="opc2" value="correo">
      <label class="rb rb-contactar" for="opc2"><img class="correo" src="assets/img/correo.png"> <br class="icono-button">EMAIL</label>

      <input name="contactar" type="radio" id="opc3" value="ambos">
      <label class="rb rb-contactar" for="opc3"> <div class="rb-ambos">AMBOS</div></label>

  </div>
</div>
