<div class="row pt-5 no-gutters">
  <div class="col-sm-6 select">
    <div class="etiqueta">MODELO</div>
    <select name="modelo" type="text">
        <option value="" selected="true" hidden >SELECCIONA</option>
        <option value="mobi" >MOBI</option>
        <option value="unoblacktop" >UNO BLACKTOP</option>
        <option value="palio" >PALIO ADVENTURE</option>
        <option value="fiat500l" >FIAT 500L</option>
    </select>
  </div>
  <div class="col-sm-6 select">
    <div class="etiqueta">VERSIÓN</div>
    <select name="version" type="text" >
        <option value="" selected="true" hidden >SELECCIONA</option>
        <option value="mobi-lm" >MOBI LIKE MANUAL</option>
        <option value="mobi-wm" >MOVI WAY MANUAL</option>
        <option value="uno-w" >UNO WAY</option>
        <option value="uno-l" >UNO LIKE</option>
    </select>
  </div>
</div>
<div class="row no-gutters">
  <div class="col-sm-6 select">
    <div class="etiqueta">ESTADO</div>
    <select name="estado" type="text" >
        <option value="" selected="true" hidden >SELECCIONA</option>
        <option value="coah" >COAHUILA</option>
        <option value="chihuahua" >CHIHUAHUA</option>
        <option value="durango" >DURANGO</option>
        <option value="nl" >NUEVO LEÓN</option>
    </select>
  </div>
  <div class="col-sm-6 select">
    <div class="etiqueta">DISTRIBUIDOR</div>
    <select name="distribuidor" type="text" >
        <option value="" selected="true" hidden >SELECCIONA</option>
        <option value="mobi" >ALICIA AUTOMOTRIZ</option>
        <option value="unoblacktop" >ALTA MOTRIZ</option>
        <option value="palio" >AUTO CENTRO DE CELAYA</option>
        <option value="fiat500l" >AUTOCAMIONES DE CHIHUAHUA</option>
    </select>
  </div>
</div>
